.TabelaStyle {
    overflow: scroll;
    white-space: nowrap;
    user-select: none;
    background-color: aqua;
    border-radius: 10px;
    th, td {
        padding: 1rem;
    }
}

.ScrollButton {
    padding: 10px 0; 
    span {
        display: inline-block;
        height: 100%;
        border: 1px solid rgb(0, 0, 0);
    }
}
