@import '../../variaveis';

.Navbar {
    background-color: $navbar-cor-de-fundo;
    color: $navbar-cor;
    font-weight: bold;
    nav {
        display: flex;
        justify-content: space-between;
        align-content: center;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 10%;
            li:last-child {
                padding: 5px;
            }
            li {
                padding: 5px;
            }
        }
    }
}