@import 'variaveis';

.Navbar {
    background-color: $navbar-cor-de-fundo;
    color: $navbar-cor;
    font-weight: bold;
    nav {
        display: flex;
        justify-content: space-between;
        ul {
            display: flex;
            justify-content: space-between;
            width: 30%;
        }
    }
}