@import '../../variaveis';

.FooterStyle {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: rgba($navbar-cor-de-fundo, .8);
    font-weight: bolder;
    color: $rodape-cor;
}
