@import '../../variaveis';

.DashboardStyle {
    transition: transform $tempo-de-animanacao-menu;
    -webkit-transition: transform $tempo-de-animanacao-menu;
	min-height: 100%;
	display: grid;
	grid-template-rows: 1fr auto;
	grid-template-columns: 100%;
    header {
        padding: 1rem;
    }
    main {
        display: grid;
        justify-content: center;
        padding: 0 10vw 5rem;
        article {
            overflow-x: auto;
            padding-bottom: 1rem;
            header {
                margin: 1rem 0;
                text-align: center;
            }
            table {
                overflow-x: auto;
                transform: rotate(180deg);
                padding: 1rem;
                background-color: aqua;
                border-radius: 10px;
                th, td {
                    padding: .7rem;
                }
            }
        }
    }
    footer {
        width: 100vw;
        padding: 1rem;
    }
}

.hide {
    transform: translateX(0vw);
}

#content {
    margin-bottom: 1rem;
    transform: rotate(180deg);
    overflow-x: auto;
    overflow-y: hidden;
}

@media screen and (min-width:481px) {}

@media screen and (min-width:641px) {}

@media screen and (min-width:961px) {
    .show {
        transform: translateX($tamanho-961);
    }
}

@media screen and (min-width:1025px) {
    .show {
        transform: translateX($tamanho-1025);
    }
}
