@import 'variaveis';

.DashboardStyle {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 100%;
    header {
        padding: 1rem;
    }
    main {
        display: grid;
        justify-content: center;
        padding: 1rem;
    }
    footer {
        padding: 1rem;
    }
}