@import '../../variaveis';

.ButtonHamburger {
    margin: 0;
    padding: 5px 5px 35px;
    height: 35px;
    color: $navbarlogout-cor;
    background-color: $navbar-cor-de-fundo;
    border-radius: 15%;
    transition: transform 1s;
    z-index: 4;
    cursor: pointer;
    font-size: 1rem;
    &:active {
        background-color:$navbar-cor-de-fundo;
    }

    .ham, .exis, &:active .exis {
        display: block;
        width: 35px;
        height: 4px;
        background-color: rgb(106, 103, 103);
        margin: 5px;
        transform: none;
    }
}

@media screen and (min-width:961px) {
    .ButtonHamburger {
        &:active {
            background-color:$navbar-cor-de-fundo;
        }

        .exis:last-child , &:active .ham:last-child {
            transform: rotate(-45deg) translate(0px, 0px);
        }
    
        .exis:nth-child(2) , &:active .ham:nth-child(2) {
            display: none;
        }
    
        .exis:first-child, &:active .ham:first-child {
            transform: rotate(45deg) translate(6px, 6px);
        }
    
        .ham, .exis, &:active .exis {
            display: block;
            width: 30px;
            height: 3px;
            background-color: rgb(106, 103, 103);
            margin: 5px;
            transform: none;
        }
    }
}
