@import '../../variaveis';

.MenuStyle {
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    width: 25vw;
    height: 100vh;
    // overflow: scroll;
    z-index: 1000;
}

.ButtonHamburger {
    margin: 0;
    padding: 4px;
    height: 33px;
    color: $navbarlogout-cor;
    background-color: $navbarlogout-cor-de-fundo;
    border-radius: 10px;
    box-shadow: 2px 3px 3px #0000009f;
    cursor: pointer;
    font-size: 1rem;
    &:active {
        background-color:$navbar-cor-de-fundo;
        box-shadow: 2px 2px 4px #0000009f inset;
    }
    div {
        width: 30px;
        height: 2px;
        justify-self: center;
        background-color: #1a1f20;
        margin: 5px 0;
    }
}