@import '../../variaveis';

.MenuStyle {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(110, 158, 133);
    transition: transform $tempo-de-animanacao-menu;
    -webkit-transition: transform $tempo-de-animanacao-menu;
    width: $tamanho-menor-481;
    height: 100vh;
    overflow-x: auto;
    z-index: 3;
}
.show {
    transform: translateX(0vw);
}

.hide {
    transform: translateX(-75vw);
}

@media screen and (min-width:481px) {
    .MenuStyle {
        width: $tamanho-481;
    }
    .hide {
        transform: translateX(-$tamanho-481);
    }
}

@media screen and (min-width:641px) {
    .MenuStyle {
        width: $tamanho-641;
    }
    .hide {
        transform:  translateX(-$tamanho-641);
    }
}

@media screen and (min-width:961px) {
    .MenuStyle {
        width: $tamanho-961;
        overflow: hidden;
    }
    .hide {
        transform: translateX(-$tamanho-961);
    }
}

@media screen and (min-width:1025px) {
    .MenuStyle {
        width: 18vw;
        overflow-x: hidden;
    }
    .hide {
        transform: translateX(-18vw);
    }
}
