@import '../../variaveis.scss';

.ButtonLogout {
    margin: 5px;
    padding: 7px;
    align-self: center;
    color: $navbarlogout-cor;
    background-color: $navbarlogout-cor-de-fundo;
    border-radius: 10px;
    box-shadow: 2px 3px 3px #0000009f;
    cursor: pointer;
    font-size: 1rem;
    &:active {
        background-color:$navbar-cor-de-fundo;
        box-shadow: 2px 2px 4px #0000009f inset;
    }
}
