.AppStyle {
  display: grid;
  grid-template-rows: min-content min-content auto;
  grid-template-areas: 
  "navbar"
  "principal"
  "rodape"
  ;

  @media screen and (min-width: 1280px) {
    grid-template-rows: min-content min-content;
    grid-template-areas: 
    "navbar principal"
    "rodape rodape"
    ;
    grid-template-columns: 300px 750px;
  }
}

