// variaveis navbar
$navbar-cor: white;
$navbar-cor-de-fundo: cadetblue;
$navbarlogout-cor: #5d5959;
$navbarlogout-cor-de-fundo: rgb(98, 194, 197);
$navbarlogout-width: 50px;
// variaveis rodape
$rodape-cor: #2e4348; // aqua
$rodape-cor-de-fundo: rgb(4, 116, 161);
// variaveis query
$tamanho-1025: 18vw;
$tamanho-961: 25vw;
$tamanho-641: 35vw;
$tamanho-481: 50vw;
$tamanho-menor-481: 75vw;
// tempo de duração da animação
$tempo-de-animanacao-menu: .3s;