// variaveis navbar
$navbar-cor: white;
$navbar-cor-de-fundo: cadetblue;
$navbarlogout-cor: #5d5959;
$navbarlogout-cor-de-fundo: rgb(98, 194, 197);
$navbarlogout-width: 50px;
// variaveis rodape
$rodape-cor: #2e4348; // aqua
$rodape-cor-de-fundo: rgb(4, 116, 161);